In [2]:
import string
import csv
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import scipy.stats
from sklearn.preprocessing import LabelEncoder

In [3]:
#Loading the dataset CSV file
covid = pd.read_csv("C:/Users/VP/Desktop/Public_COVID-19_Canada1.csv")

In [4]:
covid

,case_id,provincial_case_id,age,sex,health_region,province,country,date_report,report_week,travel_yn,travel_history_country,locally_acquired
0,1,1,50-59,Male,Toronto,Ontario,Canada,25-01-2020,19-01-2020,1,China,NaN
1,2,2,50-59,Female,Toronto,Ontario,Canada,27-01-2020,26-01-2020,1,China,NaN
2,3,1,40-49,Male,Vancouver Coastal,BC,Canada,28-01-2020,26-01-2020,1,China,NaN
3,4,3,20-29,Female,Middlesex-London,Ontario,Canada,31-01-2020,26-01-2020,1,China,NaN
4,5,2,50-59,Female,Vancouver Coastal,BC,Canada,04-02-2020,02-02-2020,0,NaN,Close Contact
...,...,...,...,...,...,...,...,...,...,...,...,...
3404,3405,655,Not Reported,Not Reported,Interior,BC,Canada,25-03-2020,22-03-2020,Not Reported,NaN,NaN
3405,3406,656,Not Reported,Not Reported,Interior,BC,Canada,25-03-2020,22-03-2020,Not Reported,NaN,NaN
3406,3407,657,Not Reported,Not Reported,Interior,BC,Canada,25-03-2020,22-03-2020,Not Reported,NaN,NaN
3407,3408,658,Not Reported,Not Reported,Interior,BC,Canada,25-03-2020,22-03-2020,Not Reported,NaN,NaN
3408,3409,659,Not Reported,Not Reported,Northern,BC,Canada,25-03-2020,22-03-2020,Not Reported,NaN,NaN

In [5]:
#column names
list(covid.columns)

['case_id',
 'provincial_case_id',
 'age',
 'sex',
 'health_region',
 'province',
 'country',
 'date_report',
 'report_week',
 'travel_yn',
 'travel_history_country',
 'locally_acquired']

In [6]:
#Renmaing the columns
covid.rename(columns={"case_id":"Case ID", "provincial_case_id":"Provincial Case ID", "age":"Age Range", "sex":"Gender", "health_region":"City", "province":"Province", "country":"Country", "date_report":"Date Reported", "travel_yn":"Travelled (Y/N)", "travel_history_country":"Country Travelled"}, inplace=True)
print(covid.columns)

Index(['Case ID', 'Provincial Case ID', 'Age Range', 'Gender', 'City',
       'Province', 'Country', 'Date Reported', 'report_week',
       'Travelled (Y/N)', 'Country Travelled', 'locally_acquired'],
      dtype='object')

In [7]:
# column data types
print(covid.dtypes)

Case ID                int64
Provincial Case ID     int64
Age Range             object
Gender                object
City                  object
Province              object
Country               object
Date Reported         object
report_week           object
Travelled (Y/N)       object
Country Travelled     object
locally_acquired      object
dtype: object

In [8]:
#checking if the data has N/A's, null values etc
covid.isnull().values.any()

True

In [9]:
#Checking to see how many null values, NA's, blank cells are there there in the data
covid.isnull().sum()

Case ID                  0
Provincial Case ID       0
Age Range                0
Gender                   0
City                     0
Province                 0
Country                  0
Date Reported            0
report_week              0
Travelled (Y/N)          0
Country Travelled     3047
locally_acquired      3262
dtype: int64

In [10]:
# Dropped these two columns due too many N/A values
covid_1 = covid.drop(columns=['Country Travelled', 'locally_acquired'])

In [11]:
print(covid_1)

      Case ID  Provincial Case ID     Age Range        Gender  \
0           1                   1         50-59          Male
1           2                   2         50-59        Female
2           3                   1         40-49          Male
3           4                   3         20-29        Female
4           5                   2         50-59        Female
...       ...                 ...           ...           ...
3404     3405                 655  Not Reported  Not Reported
3405     3406                 656  Not Reported  Not Reported
3406     3407                 657  Not Reported  Not Reported
3407     3408                 658  Not Reported  Not Reported
3408     3409                 659  Not Reported  Not Reported

                   City Province Country Date Reported report_week  \
0               Toronto  Ontario  Canada    25-01-2020  19-01-2020
1               Toronto  Ontario  Canada    27-01-2020  26-01-2020
2     Vancouver Coastal       BC  Canada    28-01-2020  26-01-2020
3      Middlesex-London  Ontario  Canada    31-01-2020  26-01-2020
4     Vancouver Coastal       BC  Canada    04-02-2020  02-02-2020
...                 ...      ...     ...           ...         ...
3404           Interior       BC  Canada    25-03-2020  22-03-2020
3405           Interior       BC  Canada    25-03-2020  22-03-2020
3406           Interior       BC  Canada    25-03-2020  22-03-2020
3407           Interior       BC  Canada    25-03-2020  22-03-2020
3408           Northern       BC  Canada    25-03-2020  22-03-2020

     Travelled (Y/N)
0                  1
1                  1
2                  1
3                  1
4                  0
...              ...
3404    Not Reported
3405    Not Reported
3406    Not Reported
3407    Not Reported
3408    Not Reported

[3409 rows x 10 columns]

In [12]:
list(covid_1.columns)

['Case ID',
 'Provincial Case ID',
 'Age Range',
 'Gender',
 'City',
 'Province',
 'Country',
 'Date Reported',
 'report_week',
 'Travelled (Y/N)']

In [13]:
#Rechecking if the data has N/A's, null values etc
covid_1.isnull().values.any()

False

In [14]:
#Rechecking to see how many null values, NA's, blank cells are there there in the data
covid_1.isnull().sum()

Case ID               0
Provincial Case ID    0
Age Range             0
Gender                0
City                  0
Province              0
Country               0
Date Reported         0
report_week           0
Travelled (Y/N)       0
dtype: int64

In [15]:
#changed the column data types 
le = LabelEncoder() 
  
covid_1['Gender']= le.fit_transform(covid_1['Gender']) 
covid_1['Travelled (Y/N)']= le.fit_transform(covid_1['Travelled (Y/N)'])

In [16]:
#changed column data types
covid_1['Age Range'] = covid_1['Age Range'].astype('category')

In [17]:
print(covid_1.dtypes)

Case ID                  int64
Provincial Case ID       int64
Age Range             category
Gender                   int32
City                    object
Province                object
Country                 object
Date Reported           object
report_week             object
Travelled (Y/N)          int32
dtype: object

In [18]:
covid_1

,Case ID,Provincial Case ID,Age Range,Gender,City,Province,Country,Date Reported,report_week,Travelled (Y/N)
0,1,1,50-59,1,Toronto,Ontario,Canada,25-01-2020,19-01-2020,1
1,2,2,50-59,0,Toronto,Ontario,Canada,27-01-2020,26-01-2020,1
2,3,1,40-49,1,Vancouver Coastal,BC,Canada,28-01-2020,26-01-2020,1
3,4,3,20-29,0,Middlesex-London,Ontario,Canada,31-01-2020,26-01-2020,1
4,5,2,50-59,0,Vancouver Coastal,BC,Canada,04-02-2020,02-02-2020,0
...,...,...,...,...,...,...,...,...,...,...
3404,3405,655,Not Reported,2,Interior,BC,Canada,25-03-2020,22-03-2020,2
3405,3406,656,Not Reported,2,Interior,BC,Canada,25-03-2020,22-03-2020,2
3406,3407,657,Not Reported,2,Interior,BC,Canada,25-03-2020,22-03-2020,2
3407,3408,658,Not Reported,2,Interior,BC,Canada,25-03-2020,22-03-2020,2
3408,3409,659,Not Reported,2,Northern,BC,Canada,25-03-2020,22-03-2020,2

In [19]:
#Checking if there are any duplicated values
covid_1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3404    False
3405    False
3406    False
3407    False
3408    False
Length: 3409, dtype: bool

In [20]:
covid_1.to_excel("covid_list_1.xlsx", index=False)