In [1]:
import csv
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
crash = pd.read_csv("C:/Users/VP/Downloads/archive (1)/Airplane_Crashes_and_Fatalities_Since_1908_DV_03032020.csv")

In [3]:
crash

,DATE,YEAR,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
0,09/17/1908,1908,17:18,"Fort Myer, Virginia",Military - U.S. Army Air Forces,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,1909,NaN,"Juvisy-sur-Orge, France",Unknown,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,1912,6:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,11/24/2019,2019,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,NaN,Dornier 228-201,9S-GNH,NaN,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,12/27/2019,2019,7:22,"Almaty, Kazakhstan",Bek Air,Z92100,Almaty - Nursultan Nazabavev,Fokker 100,UP-F100,11496,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,01/02/2020,2020,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,NaN,Antonov An12-A,NaN,NaN,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,01/08/2020,2020,NaN,"Near Shahriah, Iran",Ukraine International Airlines,PS752,Tehran - Kiev,Boeing 737-8KV WL,UR-PSR,38124/5977,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,02/05/2020,2020,NaN,"Istanbul, Turkey",Pegasus Airlines,PC2193,Izmir - Istanbul,Boeing 737-86J,TC-IZK,37742,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [4]:
print(crash.shape)

(4975, 18)

In [5]:
# column data types
print(crash.dtypes)

DATE                     object
YEAR                      int64
TIME                     object
LOCATION                 object
OPERATOR                 object
FLIGHT#                  object
ROUTE                    object
AIRCRAFT_TYPE            object
AIRCRAFT_REG             object
CN_LN                    object
TOTAL_ONBOARD           float64
PASSENGER_ONBOARD       float64
CREW_ONBOARD            float64
TOTAL_FATALITIES        float64
PASSENGER_FATALITIES    float64
CREW_FATALITIES         float64
GROUND_CASUALTIES       float64
SUMMARY_OF_EVENTS        object
dtype: object

In [6]:
#Checking to see how many null values, NA's, blank cells are there there in the data
crash.isnull().sum()

DATE                       0
YEAR                       0
TIME                    1516
LOCATION                   3
OPERATOR                   0
FLIGHT#                 3657
ROUTE                    778
AIRCRAFT_TYPE             15
AIRCRAFT_REG             274
CN_LN                    673
TOTAL_ONBOARD             18
PASSENGER_ONBOARD        229
CREW_ONBOARD             226
TOTAL_FATALITIES           8
PASSENGER_FATALITIES     243
CREW_FATALITIES          244
GROUND_CASUALTIES         41
SUMMARY_OF_EVENTS         64
dtype: int64

In [7]:
crash1 = crash.drop(columns=['TIME', 'FLIGHT#', 'ROUTE', 'AIRCRAFT_REG', 'CN_LN', 'TOTAL_ONBOARD', 'PASSENGER_ONBOARD', 'CREW_ONBOARD', 'GROUND_CASUALTIES', 'SUMMARY_OF_EVENTS'])

In [8]:
crash1

,DATE,YEAR,LOCATION,OPERATOR,AIRCRAFT_TYPE,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES
0,09/17/1908,1908,"Fort Myer, Virginia",Military - U.S. Army Air Forces,Wright Flyer III,1.0,1.0,0.0
1,09/07/1909,1909,"Juvisy-sur-Orge, France",Unknown,Wright Byplane,1.0,0.0,0.0
2,07/12/1912,1912,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5.0,0.0,5.0
3,08/06/1913,1913,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1.0,0.0,1.0
4,09/09/1913,1913,Over the North Sea,Military - German Navy,Zeppelin L-1 (airship),14.0,NaN,NaN
...,...,...,...,...,...,...,...,...
4970,11/24/2019,2019,"Goma, Democratic Republic of Congo",Busy Bee Congo,Dornier 228-201,19.0,17.0,2.0
4971,12/27/2019,2019,"Almaty, Kazakhstan",Bek Air,Fokker 100,13.0,NaN,NaN
4972,01/02/2020,2020,"Geneina, Sudan",Military - Sudanese Air Force,Antonov An12-A,18.0,9.0,9.0
4973,01/08/2020,2020,"Near Shahriah, Iran",Ukraine International Airlines,Boeing 737-8KV WL,176.0,167.0,9.0
4974,02/05/2020,2020,"Istanbul, Turkey",Pegasus Airlines,Boeing 737-86J,183.0,177.0,6.0

In [9]:
#Checking to see how many null values, NA's, blank cells are there there in the data
crash1.isnull().sum()

DATE                      0
YEAR                      0
LOCATION                  3
OPERATOR                  0
AIRCRAFT_TYPE            15
TOTAL_FATALITIES          8
PASSENGER_FATALITIES    243
CREW_FATALITIES         244
dtype: int64

In [10]:
# removing NA's from the 'Location' column
crash2 = crash1[crash1['LOCATION'].notna()]

In [11]:
# removing NA's from the 'Aircraft Type' column
crash3 = crash2[crash2['AIRCRAFT_TYPE'].notna()]

In [12]:
# removing NA's from the 'Total Fatalities' column
crash4 = crash3[crash3['TOTAL_FATALITIES'].notna()]

In [13]:
# removing NA's from the 'Total Fatalities' column
crash5 = crash4[crash4['PASSENGER_FATALITIES'].notna()]

In [14]:
# removing NA's from the 'Crew Fatalities' column
crashclean = crash5[crash5['CREW_FATALITIES'].notna()]

In [15]:
#Checking to see how many null values, NA's, blank cells are there there in the data
crashclean.isnull().sum()

DATE                    0
YEAR                    0
LOCATION                0
OPERATOR                0
AIRCRAFT_TYPE           0
TOTAL_FATALITIES        0
PASSENGER_FATALITIES    0
CREW_FATALITIES         0
dtype: int64

In [16]:
crashclean

,DATE,YEAR,LOCATION,OPERATOR,AIRCRAFT_TYPE,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES
0,09/17/1908,1908,"Fort Myer, Virginia",Military - U.S. Army Air Forces,Wright Flyer III,1.0,1.0,0.0
1,09/07/1909,1909,"Juvisy-sur-Orge, France",Unknown,Wright Byplane,1.0,0.0,0.0
2,07/12/1912,1912,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5.0,0.0,5.0
3,08/06/1913,1913,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1.0,0.0,1.0
10,10/01/1916,1916,"Potters Bar, England",Military - German Navy,Zeppelin L-31 (airship),19.0,0.0,19.0
...,...,...,...,...,...,...,...,...
4969,10/04/2019,2019,"Lviv, Ukraine",Ukraine Air Alliance,Antonov An-12BK,5.0,1.0,4.0
4970,11/24/2019,2019,"Goma, Democratic Republic of Congo",Busy Bee Congo,Dornier 228-201,19.0,17.0,2.0
4972,01/02/2020,2020,"Geneina, Sudan",Military - Sudanese Air Force,Antonov An12-A,18.0,9.0,9.0
4973,01/08/2020,2020,"Near Shahriah, Iran",Ukraine International Airlines,Boeing 737-8KV WL,176.0,167.0,9.0
4974,02/05/2020,2020,"Istanbul, Turkey",Pegasus Airlines,Boeing 737-86J,183.0,177.0,6.0

In [17]:
# column data types
print(crashclean.dtypes)

DATE                     object
YEAR                      int64
LOCATION                 object
OPERATOR                 object
AIRCRAFT_TYPE            object
TOTAL_FATALITIES        float64
PASSENGER_FATALITIES    float64
CREW_FATALITIES         float64
dtype: object

In [18]:
crashclean["TOTAL_FATALITIES"] = crashclean["TOTAL_FATALITIES"].astype(int)
crashclean.head(10)

C:\Users\VP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,DATE,YEAR,LOCATION,OPERATOR,AIRCRAFT_TYPE,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES
0,09/17/1908,1908,"Fort Myer, Virginia",Military - U.S. Army Air Forces,Wright Flyer III,1,1.0,0.0
1,09/07/1909,1909,"Juvisy-sur-Orge, France",Unknown,Wright Byplane,1,0.0,0.0
2,07/12/1912,1912,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0.0,5.0
3,08/06/1913,1913,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1,0.0,1.0
10,10/01/1916,1916,"Potters Bar, England",Military - German Navy,Zeppelin L-31 (airship),19,0.0,19.0
23,12/16/1918,1918,"Elizabeth, New Jersey",US Aerial Mail Service,De Havilland DH-4,1,0.0,1.0
24,05/25/1919,1919,"Cleveland, Ohio",US Aerial Mail Service,De Havilland DH-4,1,0.0,1.0
25,07/19/1919,1919,"Dix Run, Pennsylvania",US Aerial Mail Service,De Havilland DH-4,1,0.0,1.0
26,07/21/1919,1919,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,FD Type Dirigible,3,2.0,1.0
27,08/02/1919,1919,"Verona, Italy",Caproni Company,Caproni Ca.48,14,12.0,2.0

In [19]:
crashclean["PASSENGER_FATALITIES"] = crashclean["PASSENGER_FATALITIES"].astype(int)
crashclean.head(10)

C:\Users\VP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,DATE,YEAR,LOCATION,OPERATOR,AIRCRAFT_TYPE,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES
0,09/17/1908,1908,"Fort Myer, Virginia",Military - U.S. Army Air Forces,Wright Flyer III,1,1,0.0
1,09/07/1909,1909,"Juvisy-sur-Orge, France",Unknown,Wright Byplane,1,0,0.0
2,07/12/1912,1912,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5.0
3,08/06/1913,1913,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1,0,1.0
10,10/01/1916,1916,"Potters Bar, England",Military - German Navy,Zeppelin L-31 (airship),19,0,19.0
23,12/16/1918,1918,"Elizabeth, New Jersey",US Aerial Mail Service,De Havilland DH-4,1,0,1.0
24,05/25/1919,1919,"Cleveland, Ohio",US Aerial Mail Service,De Havilland DH-4,1,0,1.0
25,07/19/1919,1919,"Dix Run, Pennsylvania",US Aerial Mail Service,De Havilland DH-4,1,0,1.0
26,07/21/1919,1919,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,FD Type Dirigible,3,2,1.0
27,08/02/1919,1919,"Verona, Italy",Caproni Company,Caproni Ca.48,14,12,2.0

In [20]:
crashclean["CREW_FATALITIES"] = crashclean["CREW_FATALITIES"].astype(int)
crashclean.head(10)

C:\Users\VP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,DATE,YEAR,LOCATION,OPERATOR,AIRCRAFT_TYPE,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES
0,09/17/1908,1908,"Fort Myer, Virginia",Military - U.S. Army Air Forces,Wright Flyer III,1,1,0
1,09/07/1909,1909,"Juvisy-sur-Orge, France",Unknown,Wright Byplane,1,0,0
2,07/12/1912,1912,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5
3,08/06/1913,1913,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,1,0,1
10,10/01/1916,1916,"Potters Bar, England",Military - German Navy,Zeppelin L-31 (airship),19,0,19
23,12/16/1918,1918,"Elizabeth, New Jersey",US Aerial Mail Service,De Havilland DH-4,1,0,1
24,05/25/1919,1919,"Cleveland, Ohio",US Aerial Mail Service,De Havilland DH-4,1,0,1
25,07/19/1919,1919,"Dix Run, Pennsylvania",US Aerial Mail Service,De Havilland DH-4,1,0,1
26,07/21/1919,1919,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,FD Type Dirigible,3,2,1
27,08/02/1919,1919,"Verona, Italy",Caproni Company,Caproni Ca.48,14,12,2